/*
Je pense qu'il serait judicieux
ETAPE DE REALISATION
1-POSITIONNEMENT des Grandes Boites DISPLAY, POSITION, float non
2-FORMAT des boites width, margin, padding, borde, box- shadow
3_COULEUR et FOND
4-FONT (background-image)
5-CURSOR

LES GRANDES BOITES
Positionnement DISPLAY: BLOCK et INLINE */

video
{
	min-height: 100%;/*stretch la video*/
	min-width: 100%;/*stretch la video*/
	width: auto;
	height: auto;
	/*background: ;prevoir un png pour les vieux navigateurs*/
	background-size: cover;
	position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
}

header
{
	border: ;
	background-color: white;

	width: auto;
	min-width: 100%;
	height: 30px;

	position: fixed;
	right: 0px;
    top: 0px;
    z-index: 4;
}

footer
{
	border: dashed;
	background-color: white;

	width: 100%;
	min-width: 740px;
	height: 30px;

	position: absolute;
	right: 0px;
    bottom: 0px;
    z-index: 2;
}

#bloc_page
{
	border: dashed;
	color: white;

	position: absolute; /* absolute*/
	left: 5%;
	right: 5%;
    top: 35px;
    bottom: 35px;
	z-index: 2;
}

/* LES BOITES DANS LES BOITES
Modele Boites */

#logo_titre, nav, #header_mixlangue
{
	display: inline-block;
	vertical-align: top;

	height: 30px;

	background-color: ;
	border: ;
}

#header_mixlangue
{
	position: absolute;
	right: 5px;
	z-index: 2;
}
nav
{
	position: absolute;
	right: 37%;
	left:36%;
	z-index: 2;
}
#logo_titre,
{
	position: absolute;
	left: 0px;
	z-index: 2;
}

div h4
{
	display: inline-block;
	margin-top: 0px;
	padding-top: 7px;
	background-color: red;
}

ul
{
	padding-left: 0px;
	padding-top: 7px;
	margin-top: 0px;

	background-color: blue;
}

li
{
	display: inline-block;

	background-color: white;
}

#section_1
{
	display: inline-block;
	vertical-align: top;

	width: 74%;
	min-width: 190px;

	margin-bottom: 35px;
	margin: auto;

	border: groove;
}

#section_2
{
	display: inline-block;
	vertical-align: top;

	width: 24%;
	min-width: 190px;

	margin-bottom: 35px;
	margin-right: 0px;

	position: absolute;
	right: 0px;

	border: groove;
}

#section_1 article
{
	display: inline-block;
	vertical-align: top;

	width: 22%;
	min-width: 190px;

	background-color: black;
	opacity: 0.7;
	border: solid blue;
	margin: 0px 0px 0px 0px;
}

#section_1 article h3
{
	font-family: Comic, trebuchet NS, arial, sans-serif;
	text-align: center;
	text-shadow: 5px 5px 2px blue;
	background-color: gray;
	border: solid purple;
}

#section_1 article p
{
	text-align: left;
	text-shadow: 2px 2px 2px gray;
	padding: 5px 5px 5px 5px;

	background-color: black;
	border: solid purple;
}

#agenda article h3
{
	background-color: black;
	border: solid blue;
}

#chat article h3
{
	background-color: black;
	border: solid blue;
}
